.firstname {
  align-self: flex-start;
  text-orientation: upright;
  writing-mode: vertical-rl;
  position: absolute;
  width: max-content;
  top: 0;
  left: -120px;

  &::first-letter {
    color: var(--chakra-colors-purple-500);
    font-size: 110px;
  }
}

.lastname {
  align-self: flex-end;
  width: max-content;
  letter-spacing: 22px;
  position: absolute;
  width: max-content;
  bottom: -10px;
  right: -110px;

  &::first-letter {
    color: var(--chakra-colors-blue-500);
    font-size: 110px;
  }
}
