html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$color-list: (#4f9cfd, #a54afd, #fc4d91, #4de2ae, #ffbf55);

$fill-colors: #a54afd, #4f9cfd, #ffbf55, #fc4d91, #4de2ae, rgb(113, 222, 241),
  rgb(140, 148, 255), rgb(172, 88, 172), rgb(243, 150, 150);

@mixin pulse($i) {
  @keyframes x {
    0% {
      fill: nth($color-list, $i);
    }

    25% {
      fill: nth($color-list, $i % 5 + 1);
    }

    50% {
      fill: nth($color-list, $i % 4 + 2);
    }
    75% {
      fill: nth($color-list, $i % 5 + 1);
    }
    100% {
      fill: nth($color-list, $i);
    }
  }
}

.pk-logo {
  &:hover,
  &--active {
    @for $i from 1 to 5 {
      .pk-logo__path-#{$i} {
        @include pulse($i);
        animation: x 2.5s linear forwards infinite;
        animation-delay: #{$i * 0.2}s;
      }
    }
  }
}